.a{
    color: rgb(43, 119, 138);
}
.q{
    text-align: center;
}
.w{
    text-align: center;
}
.e{
    text-align: center;
}
.r{
  margin-right: 200px;
  margin-left: 200px;
}
.t{
    margin-left: 200px;
}
.y{
    text-align: center;
}
.ab{
    text-align: center;
    font-size: x-large;
}
.af{
    text-align: center;
}
.ag{
    text-align: center;
}
.ada{
    text-align: center;
}